*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.grid-container{
    background-color: cornflowerblue;
    height: 900px;
    display: grid;
    grid: auto-flow dense / repeat(2, 250px);
}
.grid-item{
    background-color: #fff;
    /* height: 100px;
    width: 200px; */
}