/* how to style with tag selector */
/* h1{
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    box-shadow: 2px 2px dotted black;
    padding: 5px;
    border-radius: 5px;
}
img{
    width: 300px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: 4px 4px greenyellow;
}
p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-style: italic;
    
} */

/* adjacent selector */
/* h1 + img means style all the images after h1 */
/* span + h1{
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    box-shadow: 2px 2px dotted black;
    padding: 5px;
    border-radius: 5px;
}
h1 + img{
    width: 300px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: 4px 4px greenyellow;
}
img + p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-style: italic;
} */

/* group selectors */
/* h1, p, img{
    border: 5px dotted green;
    width: 20%;
    color: blue;

} */
/* descendants selectors */
/* div h1{
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    box-shadow: 2px 2px dotted black;
    padding: 5px;
    border-radius: 5px;  
}
div img{
    width: 300px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: 4px 4px greenyellow;
}
div p{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-style: italic;
} */
.heading1{
    font-size: 38px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
    color: white;
    text-align: center;
    box-shadow: 2px 2px dotted black;
    padding: 5px;
    border-radius: 5px; 
}
.image1{
    width: 300px;
    margin-left: 30%;
    border-radius: 10px;
    box-shadow: 4px 4px greenyellow;
}
.p1{
    width: 50%;
    text-align: center;
    margin-left: 25%;
    font-style: italic;
}
#div1{
    background-color: antiquewhite;
    padding: 10px;
}

/* using pseudo classes */
.image1:hover{
    opacity: 0.4;
    cursor: pointer;
    border-radius: 0;
}
.div1{
    width: 600px;
    height: 800px;
    background-color: green;
    float: left;
}
.div2{
    width: 300px;
    height: 500px;
    background-color: black;
    float: right;
    padding: 150px;
}
.div3{
    border: 2px solid red;
    padding: 20px;
    margin: 20px;
}