/* .img-float{
    float: left;
    width: 10%;
    height: 150px;
    background-color: aqua;
    margin-right: 30px;
} */

.img-float{
    float: left;
    width: 10%;
    height: 150px;
    background-color: aqua;
    margin-right: 30px;
    position: fixed;
    top: 30px;
    right: 30px;
}